* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: lightgray;
    /* overflow: hidden; */
}

#nav-bar {
    background-color: gray;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: fixed;
}

#nav-bar a {
    line-height: 50px;
    text-decoration: none;
    color: black;
    font-weight: 500;
}

#nav-bar a:hover {
    color: #5D837A;
    font-weight: 700;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
}

header h1 {
    padding: 70px 0 20px 20px;
    font-size: 40px;
    text-align: center;
    text-shadow: 3px 5px rgba(0, 0, 0, 0.3);
}

header .images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    margin-bottom: 70px;
}

hr {
    border: 1px solid #5D837A;
    width: 90%;
    margin: auto;
}

/* sezione spese  */
#spese h2 {
    padding: 70px 0 20px 0;
    text-align: center;
}

#spese table,
#spese th,
#spese td {
    border: 1px solid;
    margin: auto;
}

#spese th,
#spese td {
    width: 200px;
    height: 30px;
    text-align: center;
}

#spese tfoot td:first-of-type {
    text-align: left;
    padding-left: 15px;
}

#spese table {
    margin-bottom: 70px;
}

/* /sezione spese  */
/* sezione to-do  */
#to-do h3 {
    padding: 70px 0 20px 0;
    text-align: center;
}

#to-do ul {
    margin: 0 auto 70px auto;
    width: fit-content;
    line-height: 1.7;
    list-style: none;
}

/* /sezione to-do  */
/* sezione useful-info  */
#useful-info h3 {
    padding: 70px 0 20px 0;
    text-align: center;
}

#useful-info ol {
    margin: 0 auto 70px auto;
    width: fit-content;
    line-height: 1.7;
}

#useful-info ul {
    list-style: circle inside;
    line-height: 1.7;
    margin-bottom: 15px;
}

/* /sezione useful-info  */
/* sezione photos  */
#photos h3 {
    padding: 70px 0 40px 0;
    text-align: center;
}

#photos .images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    margin-bottom: 70px;
}

/* /sezione photos  */
/* sezione footer  */
footer {
    padding: 2% 8%;
    text-align: right;
    color: #5D837A;
}

/* /sezione footer  */